.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: chocolate;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
  z-index: 90;
  font-size: 20px;
}
